.feedback__form {
  padding-bottom: 35px;
  padding-right: 162px;
  padding-left: 162px;
  display: grid;
  grid-template-areas:
  "first-name last-name message"
  "number email message"
  ". submit ." ;
  grid-template-rows: repeat(2, minmax(44px, 60px)) calc(60px + 17px);
  grid-template-columns: repeat(3, minmax(200px, 351px));
  row-gap: 20px;
  column-gap: 29px;
}

@media screen and (max-width: 768px) {
  .feedback__form {
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-rows: repeat(2, 44px) calc(60px + 17px);
    grid-template-columns: repeat(3, minmax(140px, 320px));
  }
}

@media screen and (max-width: 495px) {
  .feedback__form {
    padding-bottom: 40px;
    row-gap: 12px;
    grid-template-columns: 90vw;
    grid-template-rows: repeat(4, 44px) 140px calc(60px + 11px);
    grid-template-areas:
    "first-name"
    "last-name"
    "number"
    "email"
    "message"
    "submit";
    padding-left: 16px;
    padding-right: 16px;
  }
}

