.education__title {
  text-align: center;
  font-weight: 600;
  margin: -100px 0 30px;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .education__title {
    margin-bottom: 20px;
  }
}
