.projects__pagination {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
  padding-bottom: 60px;
}

@media screen and (max-width: 320px) {
  .projects__pagination {
    max-width: 154px;
    max-height: 24px;
    padding-bottom: 40px;
  }
}
