.team__dots {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 68px;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .team__dots {
    margin-top: 24px;
    margin-bottom: 81px;
  }
}

@media all and (max-width: 320px) {
  .team__dots {
    margin-top: 14px;
    margin-bottom: 54px;
  }
}
