.tooltip-details {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #009fac;
  border-radius: 0 0 10px 10px;
}
