.header__logo {
  left: 0;
  width: 150px;
  height: 54px;
}
@media all and (max-width:1180px) {
  .header__logo {
    margin-left: 20px;
  }
}

@media all and (max-width: 1023px) {
  .header__logo {
    position: unset;
    margin: 0 auto;
  }
}

@media all and (max-width: 768px) {
  .header__logo {
    width: 94px;
    height: 32px;
  }
}

@media all and (max-width: 480px) {
  .header__logo {
    width: 71px;
    height: 24px;
  }
}
