.header__logo {
  position: absolute;
  left: 0;
  width: calc(8.22vw + 31.62px);
  height: calc(3.27vw + 6.85px);
}

@media all and (max-width:900px) {
  .header__logo {
    position: unset;
    width: calc(5.3vw + 54.02px);
    height: calc(1.78vw + 18.28px);
  }
}
