.header {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #000D26;
  height: 80px;
  z-index: 10;
  box-sizing: border-box;
  padding: 0 165px;
}

@media all and (max-width: 1080px) {
  .header {
    padding: 0 39px;
  }
}


@media all and (max-width: 768px) {
  .header {
    height: 60px;
    justify-content: center;
  }
}

@media all and (max-width: 480px) {
  .header {
    height: 44px;
    padding: 0 18px;
  }
}
