.header {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000D26;
  height: 80px;
  z-index: 3;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  .header {
    height: 60px;
    justify-content: center;
    padding: 0 41px;
  }
}

@media all and (max-width: 480px) {
  .header {
    height: 44px;
    padding: 0 18px;
  }
}
