.footer__navigation-header {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

@media all and (max-width: 768px) {
  .footer__navigation-header {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
  }
}

@media all and (max-width: 320px) {
  .footer__navigation-header {
    font-weight: 600;
    margin-bottom: 8px;
  }
}
