.education {
  padding: 80px 0;
  box-sizing: border-box;
  background-color: #009FAC;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .education {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .education {
    padding: 40px 0;
  }
}
