.header__link {
  font-size: 14px;
  font-style: normal;
  height: 44px;
  padding-top: 12.5px;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 4px;
  text-decoration: none;
  color: white;
  width: 100px;
}

.header__link:hover{
  cursor:pointer;
  opacity: 0.6;
}

.header__link:active {
  font-weight: 600;
  border-bottom: 1px solid #009FAC;
}

@media all and (max-width: 768px) {
  .header__link {
    display: none;
  }
}


