.header__mobile-menu-list {
  width: 320px;
  height: 448px;
  margin: 0;
  padding-top: 16px;
  background-color: #000D26;
  transition: 0.5s;
  transition-delay: 0.5s;
  list-style: none;
  padding-left: 0;
}
