.popup-ai-research__img {
  max-width: 100%;
  height: 678px;
  grid-area: img;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .popup-ai-research__img {
    height: 414px;
  }
}

@media screen and (max-width: 767px) {
  .popup-ai-research__img {
    max-width: 268px;
    max-height: 160px;
    grid-area: image;
  }
}
