.ai-research-lab__card {
  max-width: 255px;
  box-sizing: border-box;
  padding: 30px 20px 20px;
  border-radius: 10px;
  transition: all .2s linear;
  background-color: #FFF;
  background-size:cover;
  margin-right: 30px;
}

.ai-research-lab__card:first-of-type {
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Project.png);
}

.ai-research-lab__card:nth-of-type(2) {
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Machine\ learning.png);
}

.ai-research-lab__card:nth-of-type(3) {
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Data.png);
}

.ai-research-lab__card:last-of-type {
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images/lab/Robot.png);
  margin-right: 0;
}

.ai-research-lab__card:hover {
  transform: translateY(-20px);
}

.ai-research-lab__card:hover h3 {
  color: #FFF;
}

.ai-research-lab__card:hover p {
  color: #FFF;
}

.ai-research-lab__card:hover button {
  color: #FFF;
  border-color: #FFF;
}

.ai-research-lab__card:first-of-type:hover {
  background-color: #009FAC;
  background-image: linear-gradient(180deg,  #009FAC 0%,  rgba(0, 159, 172, 0) 100%), url(../../../images/lab/Project.png);
}

.ai-research-lab__card:nth-of-type(2):hover {
  background-color: #009FAC;
  background-image: linear-gradient(180deg,  #009FAC 0%, rgba(0, 159, 172, 0) 100%), url(../../../images/lab/Machine\ learning.png);
}

.ai-research-lab__card:nth-of-type(3):hover {
  background-color: #009FAC;
  background-image: linear-gradient(180deg,  #009FAC 0%, rgba(0, 159, 172, 0) 100%), url(../../../images/lab/Data.png);
}

.ai-research-lab__card:last-of-type:hover {
  background-color: #009FAC;
  background-image: linear-gradient(180deg,  #009FAC 0%, rgba(0, 159, 172, 0) 100%), url(../../../images/lab/Robot.png);
}

@media screen and (max-width: 1200px) {
  .ai-research-lab__card {
    max-width: 150px;
    padding: 12px 11.2px;
  }
  .ai-research-lab__card:hover {
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .ai-research-lab__card {
    padding: 10px;
    margin: 0;
  }
}
