.projects__menu {
  display: flex;
  justify-content: center;
  min-height: 48px;
  padding-bottom: 60.5px;
  padding-left: 0;
  list-style: none;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .projects__menu {
    max-height: 44px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 425px) {
  .projects__menu {
    padding-bottom: 20px;
  }
}
