.about__cards-container {
  max-width: 1122px;
  margin-top: 124px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

@media all and (max-width: 768px) {
  .about__cards-container {
    margin-right: 39px;
    margin-left: 39px;
    margin-bottom: 80px;
  }
}

@media all and (max-width: 390px) {
   .about__cards-container {
     margin-left: 12px;
     margin-right: 20px;
     margin-bottom: 53px;
     margin-top: 60px;
  }
}
