.footer__done-by {
  margin: 0;
  padding: 0;
  opacity: 0.5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1px;
  text-align: left;
  white-space: nowrap;
}

@media all and (max-width: 768px) {
  .footer__done-by {
    font-size: 12px;
    line-height: 20px;
  }
}

@media all and (max-width: 764px) {
  .footer__done-by {
    display: none;
  }
}
