.projects__pagination-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 320px) {
  .projects__pagination-item {
    font-size: 12px;
    line-height: 16px;
    z-index: 2;
  }
}
