.publications__item {
  min-height: 548px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(1, 54, 157, 0.15);
  border-radius: 10px;
}

.publications__item:hover .tooltip-details {
  z-index: 2;
}

.publications__item:hover .publications__item-text {
  transform: translateY(-10px);
}

@media screen and (max-width: 1260px) {
  .publications__item:hover .publications__item-text {
    transform: unset;
  }
}

@media screen and (max-width: 707px) {
  .publications__item {
    padding: 16px;
  }
}
