.header__mobile-menu-container {
  position: fixed;
  text-align: center;
  display: flex;
  top: calc(2.97vw + 37.14px - 3px); 
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.2s;
  overflow: hidden;
}

@media all and (max-width:320px) {
  .header__mobile-menu-container {
    top: 44px;
  }
}
