.education__button-change-info_active {
  width: 53%;
  background-color: #E0F0FF;
  border-radius: 10px;
  color: #000D26;
  height: 103%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.01);
}
