.footer__navigation {
  margin-top: 91.5px;
  width: calc(14.88vw + 125.71px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media all and (max-width:768px) {
  .footer__navigation {
    margin-top: 144px;
  }
}

@media all and (max-width: 488px) {
  .footer__navigation {
    margin-top: 40px;
    width: 286px;
  }
}
