.header__mobile-menu {
  position: relative;
  box-sizing: border-box;
  display: none;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 2;
}

@media all and (max-width: 900px) {
  .header__mobile-menu {
    display: flex;
  }
}

@media all and (max-width:320px) {
  .header__mobile-menu {
    margin-top: 14.67px;
  }
}
