.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #001337;
  color: white;
}

@media all and (max-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media all and (max-width: 320px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 33px;
  }
}
