.about__card-item {
  position: relative;
  overflow: visible;
  background-color: #E0F0FF;
  color: black;
  width: 348px;
  height: 340px;
  box-sizing: border-box;
  padding: 20px 20px 30px;
  border-radius: 10px;
  margin: 0;
  margin-top: 20px;
  margin-right: 32px;
  display: none;
  transition: transform 0.1s linear;
}

.about__card-item:last-of-type {
  margin-right: 0;
}

@media all and (max-width: 768px) {
  .about__card-item{
    width: 330px;
    height: 330px;
  }
}

@media all and (max-width: 390px) {
  .about__card-item {
    width: 288px;
    height: 260px;
  }
}


