.publications__article {
  margin: 20px 0px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000D26;
}