/* .partners__img {
  max-width: 100%;
  object-fit: cover;
} */

.partners__img {
  height: 48px;
}

@media screen and (max-width: 1279px) {
  .partners__img {
    height: 32px;
  }
}

@media screen and (max-width: 767px) {
  .partners__img {
    height: 20px;
  }
}
