.about__card-title {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  max-height: 90px;
  width: 308px;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  word-wrap: break-word;
  letter-spacing: 0em;
  border-bottom: 1px solid #009FAC;
}

@media all and (max-width:390px) {
  .about__card-title {
    height: 57px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    width: 248px;
    line-height: 19px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
